<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies> 
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="600" />
    <pages enableSessionState="true" />
    <sessionState mode="InProc" timeout="30" />
    <httpModules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <customErrors mode="Off" /> 
  </system.web> 
  <appSettings>
    <!--<add key="Environment" value="Development" />-->
	  <add key="Environment" value="LocalDev" />
    <add key="ValidateURL" value="http://localhost/MyElementsAccess/ValidateUser.aspx" />
    <add key="AppID" value="PermitAssignment" />
    <add key="ValidateURL_LocalDev" value="https://owdala22/MyElementsAccess/ValidateUser.aspx" />
    <add key="ValidateURL_Development" value="https://owdala22/MyElementsAccess/ValidateUser.aspx" />
    <add key="ValidateURL_REM" value="https://owrala22/MyElementsAccess/ValidateUser.aspx" />
    <add key="ValidateURL_PLL" value="https://localhost/MyElementsAccess/ValidateUser.aspx" />	  
	  <add key="ValidateURL_Production" value="https://owpala22/MyElementsAccess/ValidateUser.aspx" />
    <add key="NT_Authentication" value="Y" /> 
  </appSettings>
  <connectionStrings>
    <add name="Conn_LocalDev" connectionString="Data Source=LDMSDEV2;User ID=amanda;Password=amandadev2; Validate Connection=true; Min Pool Size=15; Max Pool Size=150; Connection Timeout=30; Connection Lifetime=0;" providerName="System.Data.OracleClient" />
	  <!--<add name="Conn_LocalDev" connectionString="Data Source=//localhost:1521/orcl;User ID=c##sahidul;Password=sahidul;" providerName="System.Data.OracleClient" />-->
    <add name="Conn_Development" connectionString="Data Source=LDMSDEV2;User ID=amanda;Password=amandadev2; Validate Connection=true; Min Pool Size=15; Max Pool Size=150; Connection Timeout=30; Connection Lifetime=0;" providerName="System.Data.OracleClient" />
    <add name="Conn_REM" connectionString="Data Source=LDMSPLL2;User ID=amanda;Password=amandapll2; Validate Connection=true; Min Pool Size=15; Max Pool Size=150; Connection Timeout=30; Connection Lifetime=0;" providerName="System.Data.OracleClient" />
    <add name="Conn_Production" connectionString="Data Source=LDMSPRD;User ID=amanda;Password=ldms4prd; Validate Connection=true; Min Pool Size=15; Max Pool Size=150; Connection Timeout=30; Connection Lifetime=0;" providerName="System.Data.OracleClient" />
    <!--<add name="Conn_Production" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=a06prd15)(PORT=1522)))(CONNECT_DATA=(SERVICE_NAME=ldmsprd.ocfl.net)));User ID=amanda;Password=ldms4prd; " providerName="System.Data.OracleClient" />-->
    <add name="Conn_PLL" connectionString="Data Source=LDMSPLL;User ID=amanda;Password=amandapll; Validate Connection=true; Min Pool Size=15; Max Pool Size=150; Connection Timeout=30; Connection Lifetime=0;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="401 - 999" />
        </add>
      </traceFailedRequests>
    </tracing>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>